body {
  color: #ffffff;
  font-family: "Roboto";
  box-sizing: border-box;
}

.wrapper {
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.header_container {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 17px;
}

.logo_link {
  display: flex;
  text-decoration: none;
  justify-self: center;
  align-self: center;
}

.logo {
  justify-self: center;
  align-self: center;
}

.logo_text {
  padding-left: 8px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 29px;
  line-height: 29px;
}

.logo_text > span {
  font-size: 18px;
  line-height: 18px;
}

.logo_hidden {
  display: none;
  justify-self: center;
  align-self: center;
}

.logo_link:hover .logo {
  display: none;
}

.logo_link:hover .logo_hidden {
  display: block;
}

.logo_link:hover .logo_text {
  color: #f26522;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.email {
  text-decoration: none;
  color: #ffffff;
}

.email:hover {
  color: #f26522;
}

.telephone {
  text-decoration: none;
  text-align: end;
  color: #ffffff;
}

.telephone:hover {
  color: #f26522;
}

.main_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  grid-column-gap: 64px;
  grid-row-gap: 37px;
  text-align: center;
  margin-top: 17px;
}

.image {
  width: 100%;
  max-width: 300px;
  height: 220px;
  max-height: 220px;
}

.main_container_item1 {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 300px;
  height: auto;
  text-decoration: none;
  position: relative;
}

.card_block1 {
  position: relative;
  overflow: hidden;
}

.main_container_hidden_item1 {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 55px;
  bottom: -60px;
  background: #f26522;
  transition: 0.5s;
}

.main_container_item1:hover .card_block1 > .main_container_hidden_item1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  bottom: 0;
}

.main_container_item1:hover .card_name {
  color: #f26522;
}

.main_container_item2 {
  grid-area: 1 / 2 / 2 / 3;
  text-decoration: none;
}

.card_block2 {
  position: relative;
  overflow: hidden;
}

.main_container_hidden_item2 {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 55px;
  bottom: -60px;
  background: #f26522;
  transition: 0.5s;
}

.main_container_item2:hover .card_block2 > .main_container_hidden_item2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  bottom: 0;
}

.main_container_item2:hover .card_name {
  color: #f26522;
}

.main_container_item3 {
  grid-area: 1 / 3 / 2 / 4;
  text-decoration: none;
}

.card_block3 {
  position: relative;
  overflow: hidden;
}

.main_container_hidden_item3 {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 55px;
  bottom: -60px;
  background: #f26522;
  transition: 0.5s;
}

.main_container_item3:hover .card_block3 > .main_container_hidden_item3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  bottom: 0;
}

.main_container_item3:hover .card_name {
  color: #f26522;
}

.main_container_item4 {
  grid-area: 2 / 1 / 3 / 2;
  text-decoration: none;
}

.card_block4 {
  position: relative;
  overflow: hidden;
}

.main_container_hidden_item4 {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 55px;
  bottom: -60px;
  background: #f26522;
  transition: 0.5s;
}

.main_container_item4:hover .card_block4 > .main_container_hidden_item4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  bottom: 0;
}

.main_container_item4:hover .card_name {
  color: #f26522;
}

.main_container_item5 {
  grid-area: 2 / 2 / 3 / 3;
  text-decoration: none;
}

.card_block5 {
  position: relative;
  overflow: hidden;
}

.main_container_hidden_item5 {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 55px;
  bottom: -60px;
  background: #f26522;
  transition: 0.5s;
}

.main_container_item5:hover .card_block5 > .main_container_hidden_item5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  bottom: 0;
}

.main_container_item5:hover .card_name {
  color: #f26522;
}

.main_container_item6 {
  grid-area: 2 / 3 / 3 / 4;
  text-decoration: none;
}

.card_block6 {
  position: relative;
  overflow: hidden;
}

.main_container_hidden_item6 {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 55px;
  bottom: -60px;
  background: #f26522;
  transition: 0.5s;
}

.main_container_item6:hover .card_block6 > .main_container_hidden_item6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  bottom: 0;
}

.main_container_item6:hover .card_name {
  color: #f26522;
}

.from {
  grid-area: 1 / 1 / 2 / 3;
  text-align: start;
  margin-top: 7px;
  padding-left: 16px;
  font-size: 10px;
  color: #ffffff;
}

.price {
  grid-area: 2 / 1 / 3 / 2;
  text-align: start;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 12px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.details {
  grid-area: 2 / 2 / 3 / 3;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 40px;
  font-size: 14px;
  color: #ffffff;
}

.details::after {
  content: "";
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding-left: 16px;
  padding-right: 16px;
}

.card_name {
  padding-top: 20px;
  font-size: 18px;
  color: #ffffff;
}

.footer_container {
  margin-top: 49px;
  margin-bottom: 15px;
}

.footer_text {
  text-align: center;
  font-size: 12px;
}
